# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.env
.env.*
.venv/
venv/

# Node
node_modules/
.dist/
dist/
coverage/

# Editor / OS
.DS_Store
.idea/
.vscode/

# Build
build/

# Logs
*.log

# Playwright
playwright-report/
playwright/.cache/

# Misc
*.bak
